@tailwind base;
@tailwind components;
@tailwind utilities;

.flatpickr-hidden-input {
  @apply hbh-extension-hidden;
}
.flatpickr-calendar .flatpickr-time {
  display: none;
}

.flatpickr-day.flatpickr-disabled {
  @apply !hbh-extension-text-secondry/30;
}
span.flatpickr-day {
  @apply focus-within:hbh-extension-bg-primary focus-within:hbh-extension-text-white hover:hbh-extension-bg-primary hover:hbh-extension-text-white focus:hbh-extension-bg-primary focus:hbh-extension-text-white;
}
.flatpickr-day.selected {
  @apply hbh-extension-border-0 !hbh-extension-bg-primary hover:hbh-extension-bg-primary;
}

.dayContainer .flatpickr-day {
  @apply hbh-extension-border-0 !important;
}
.dayContainer .flatpickr-day.nextMonthDay {
  @apply hbh-extension-text-[#404848];
}

.dayContainer .flatpickr-disabled.flatpickr-day.nextMonthDay {
  @apply hbh-extension-text-secondry/30;
}
.flatpickr-calendar,
.flatpickr-rContainer,
.flatpickr-days {
  @apply !hbh-extension-w-full;
}
.flatpickr-days {
  @apply !hbh-extension-border-l-0 !hbh-extension-border-r-0;
}
.flatpickr-days .dayContainer {
  @apply !hbh-extension-w-full hbh-extension-max-w-full;
}
.dayContainer .flatpickr-disabled {
  @apply hbh-extension-text-yellow-400;
}
.flatpickr-months {
  @apply hbh-extension-pb-2;
}
.flatpickr-current-month {
  @apply hbh-extension-space-x-4;
}
@layer base {
  :root {
    --primary: 249, 55%, 25%;
    --secondry: 208, 13%, 42%;

    --background: 0, 0%, 100%;
    --foreground: 0, 0%, 0%;
    --foreground-varient: 0, 0%, 60%;

    --info: 190, 90%, 50%;
    --success: 152, 69%, 31%;
    --warning: 45, 100%, 51%;
    --destructive: 0, 100%, 50%;
  }
}
body {
  @apply hbh-extension-bg-background hbh-extension-text-foreground;
}

.buttons-container .paypal-button-container div {
  @apply hbh-extension-hidden;
}

#duration {
  @apply hbh-extension-font-medium;
}
